body {
  /* ... */
  background-color: #181818; /* Darker background */
  color: #808080; /* Lighter text color */
}

header, footer {
  /* ... */
  background-color: #282828; /* Darker gray for header and footer */
}

nav ul {
  /* ... */
  justify-content: flex-end; /* Align navigation items to the right */
}

nav li {
  /* ... */
  color: #808080; /* Lighter text color for navigation links */
}

.about-me {
  /* ... */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically */
}
