@import url('theme.css');

* {
    padding: 0;
    margin: 0;
}

a {
    transition: color 0.2s;
    color: var(--fg1);
    text-decoration: none;
}

a:hover {
    color: var(--fg);
    /*text-decoration: underline;*/
}

body {
    background-color: var(--bg_h);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.card {
    background-color: var(--bg);
    border: 1px solid var(--bg_s);
}

.card-header {
    border-bottom: 1px solid var(--bg_s);
    display: flex;
}

.card-title {
    font-weight: 600;
    margin: 0;
    color: var(--fg);
    padding: 8px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.nav a {
    color: var(--fg2);
    transition: color 0.5s;
    padding: 8px;
    text-decoration: none;
}

.nav a:hover {
    color: var(--fg1);
    background-color: var(--bg_s);
}

.nav-selected {
    color: var(--fg1);
    background-color: var(--bg_s);
}

.card-body {
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 4px 8px;
}

li:hover {
    background-color: var(--bg_s);
}

li:hover p {
    color: var(--fg);
}

li:hover code {
    color: var(--gray-dim);
}

.styled-list {
    display: flex;
    flex-direction: column;
}

.list-element {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.list-element p {
    color: var(--gray-dim);
}

.list-element code {
    color: var(--gray);
}

.list-element-selected {
    background-color: var(--bg_s);
}

.list-element-selected p {
    color: var(--fg);
}

.list-element-selected code {
    color: var(--gray-dim);
}

@media (max-width: 844px) {
    .large-only {
        display: none;
    }

    .list-element-selected {
        background-color: transparent;
    }

    .list-element-selected p {
        color: var(--gray-dim);
    }

    .list-element-selected code {
        color: var(--gray);
    }
}

.status-symbol {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8px;
    height: 8px;
    background-color: var(--aqua);
    border-radius: 50%;
}

.status-symbol-ring {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid var(--aqua);
    border-radius: 50%;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
