:root {
    --bg_h: #2c2d33;
    --bg:   #353540;
    --bg_s: #535363;
    --bg1:  #3c3836;
    --bg2:  #504945;
    --bg3:  #665c54;
    --bg4:  #7c6f64;

    --fg:  #cfb2ca;
    --fg1: #cfb2ca;
    --fg2: #cfb2ca;
    --fg3: #cfb2ca;
    --fg4: #cfb2ca;

    --red:    #fb4934;
    --green:  #b8bb26;
    --yellow: #fabd2f;
    --blue:   #83a598;
    --purple: #d3869b;
    --aqua:   #8ec07c;
    --gray:   #fcebf9;
    --orange: #fe8019;

    --red-dim:    #cc2412;
    --green-dim:  #98971a;
    --yellow-dim: #d79921;
    --blue-dim:   #458588;
    --purple-dim: #b16286;
    --aqua-dim:   #689d6a;
    --gray-dim:   #fcebf9;
    --orange-dim: #d65d0e;
}
